#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  background-color: cream;
  font-family: 'inknut antiqua', 'handgloves';
}

#project-list img {
  width: 300px; 
  height: auto; 
  object-fit: cover; 
  margin-top: 40px;
}





