body {
  background-image: url("../images/background-2.jpg");
  background-size: cover; /* Ensures the image covers the whole screen */
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  background-attachment: fixed; /* Fixed background for better scroll effects */
}

#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  font-family: "inknut antiqua", serif;
}

#project-list img {
  width: 300px;
  height: auto;
  object-fit: cover;
  margin-top: 60px;
}

h1 {
  font-family: "inknut antiqua", serif;
  font-size: 36px;
  font-weight: bold;
  color: #617457;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-family: "inknut antiqua", serif;
  font-size: 16px;
  color: #dbb06b;
  text-align: center;
  margin-bottom: 10px; /* Reduce space below <p> */
}


.header-box {
  border: 5px solid #617457;
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #f9f5eb;
  position: relative;
  text-align: center;
}

.header-box::before {
  left: 10px; /* Left leaf */
}

.header-box::after {
  right: 10px; /* Right leaf */
}

.header-box .nav-icon {
  width: 50px; /* Larger size */
  height: 50px;
  margin-top: 5px; /* Decrease margin above the icon */
  transition: transform 0.2s ease-in-out; /* Smooth hover animation */
}

.header-box .nav-icon:hover {
  transform: scale(1.2); /* Slight hover enlargement */
}
