@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.project-card {
  width: 100%;
  max-width: 300px;  /* Set a fixed maximum width for the card */
  height: 400px;     /* Fixed height for the card */
  border-radius: 10px;
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); */
  text-align: center;
  overflow: hidden;
  background-color: white;  /* White background to mimic the Polaroid look */
  padding-bottom: 15px;
  transform: rotate(2deg);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.project-card img {
  width: calc(100% - 30px);  /* Subtract padding from the image width */
  height: 250px;  /* Fixed height for the image */
  object-fit: cover;  /* Ensures the image fills the container */
  object-position: top;  /* Align the image to the top */
  margin-top: 5px;  /* Move the image up by using a negative margin */
  border-bottom: 10px solid white;  /* Polaroid bottom border */
  border-radius: 5px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); */
  padding-left: 15px;   /* Padding on the left side */
  padding-right: 15px;  /* Padding on the right side */
  background-color: white; /* Ensures white background around the image */
  box-sizing: border-box;
}

.project-card h3 {
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  font-weight: normal;
  color: #06402b;
  margin-top: 10px;
  margin-bottom: 10px;
  /* text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2); */
  padding: 0;
  background-color: transparent;
  display: inline-block;
  max-width: 100%;
  box-sizing: border-box;
  position: relative;
}

/* Add the ink splatter below the project name using ::after */
.project-card h3::after {
  content: ""; /* This is required to make the pseudo-element appear */
  position: absolute;
  bottom: -22px;  /* Adjust to position it under the text */
  left: 50%;  /* Centers the splatter horizontally */
  transform: translateX(-50%);  /* Adjust to truly center */
  width: 30px;  /* Adjust the size of the ink splatter */
  height: 30px;  /* Adjust the size of the ink splatter */
  background-image: url('/images/icon-inksplat.svg');  /* Path to your ink splatter image */
  background-size: contain;  /* Ensure the image scales properly */
  background-repeat: no-repeat;  /* Don't repeat the image */
  background-position: center;  /* Make sure the image is centered */
}

.project-card p {
  font-family: "Inknut Antiqua", serif;
  font-size: 14px;
  color: #617457;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 10px;
}

.project-card:hover {
  transform: rotate(4deg);  /* Slightly increase the tilt when hovered */
}

@media (max-width: 768px) {
  .home-page #project-list {
    grid-template-columns: 1fr 1fr;  /* Two cards per row on medium screens */
  }
}

@media (max-width: 480px) {
  .home-page #project-list {
    grid-template-columns: 1fr;  /* One card per row on smaller screens */
  }
}
