form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  background-color: rgba(249, 245, 235, 0.9);
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

form div {
  width: 100%;
  margin-bottom: 15px;
}

form label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

form input {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 5px;
  box-sizing: border-box;
}

form button {
  background-color: #617457;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  box-sizing: border-box;
}

form button:hover {
  background-color: #506340;
}
